<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>ng-style Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
   <link rel="stylesheet" href="styles.css">
</head>
<body ng-controller="MyController">

    <div class="box" ng-style="{'background-color': boxColor, 'border-radius': borderRadius + 'px'}"></div>

    <label for="color">Background Color:</label>
    <input type="text" id="color" ng-model="boxColor" placeholder="Enter a color"/>

    <label for="radius">Border Radius:</label>
    <input type="number" id="radius" ng-model="borderRadius" placeholder="Enter a radius"/>

    <script src="app1.js"></script>
</body>
</html>
